.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown.titre-dropdown {
  margin-bottom: 20px;
  background-color: #ff6060;
  flex-direction: row;
}
.image {
  height: 223px;
  border-radius: 25px;
  object-fit: cover;
}

@media screen and (min-width: 992px) {
  .dropdown {
    flex-direction: column;
  }
  .banner-about {
    margin-top: -460px;
  }
}
