.thumb {
  position: relative;
}

.img {
  border-radius: 10px;
  height: 255px;
  width: 335px;
  object-fit: cover;
}

.title {
  position: absolute;
  display: flex;
  align-items: flex-end;
  left: 5.8%;
  right: 5.8%;
  bottom: 5.8%;
  top: 5.8%;
  width: 295px;
  color: white;
  font-size: 18px;
  line-height: 25px;
}
