.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error {
  color: #ff6060;
  font-size: 96px;
  font-weight: 700;
  line-height: 137px;
  margin-top: 1.5em;
}
.msg {
  display: flex;
  width: 260px;
  font-size: 18px;
  line-height: 25px;
  color: #ff6060;
  text-align: center;
}
.return {
  color: #ff6060;
  font-size: 14px;
  margin-top: 4rem;
  text-decoration: underline;
  line-height: 20px;
}
