/* ! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
* {
  font-family: Montserrat;
}
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
  height: 100vh;
  min-height: 100%;
}

body {
  height: 100vh;
  min-height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

header,
main {
  max-width: 1440px;
  padding: 30px 50px 0 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  right: 0;
}

main {
  padding-bottom: 50px;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

button.titre-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  border-radius: 5px;
  border: unset;
  color: white;
  font-size: 13px;
  cursor: pointer;
  width: 100%;
}

@keyframes rotationChevron {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180%);
  }
}

.fa-chevron-down {
  margin-right: 10px;
}
.toggleClose {
  background-color: red;
}
