/*Mobile Home*/

.banner_home {
  /* margin-top: 60px; */
  width: 100%;
  margin: 0 auto 20px auto;
  height: 111px;
  position: relative;
  height: 100%;
}
.banner_home img {
  position: relative;
  border-radius: 10px;
  object-fit: cover;
  object-position: 90%;
  height: 111px;
  width: 100%;
}

.banner_home h2 {
  width: 217px;
  color: white;
  line-height: 24px;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 5%;
  top: 23%;
  text-align: left;
}

/* Tablette Home*/

@media screen and (min-width: 768px) {
  .banner_home h2 {
    width: 100%;
    text-align: center;
    top: 40%;
    left: unset;
  }
}
/* Desktop Home*/
@media screen and (min-width: 992px) {
  .banner_home {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
    margin-bottom: 40px;
  }
  .banner_home img {
    height: 223px;
  }
  .banner_home h2 {
    font-size: 48px;
    text-align: center;
    width: 100%;
    left: unset;
    top: 40%;
  }
}
